.contacts {
    @extend %list;

    display: flex;

    @media screen and (min-width: 480px) and (max-width: 767px) {
        & {
            font-size: 34px;
        }
    }

    @media screen and (max-width: 767px) {
        & {
            flex-direction: column-reverse;
            margin-top: auto;
            margin-bottom: 58px;
            font-weight: 500;
            font-size: 26px;
            line-height: 1.17;
            letter-spacing: 0.02em;
        }
    }

    @media screen and (min-width: 768px) {
        & {
            margin-left: auto;
        }
    }

    @media screen and (max-width: 1199px) {
        & {
            flex-direction: column;
        }
    }

    @media screen and (min-width: 1200px) {
        & {
            display: flex;
        }
    }
}

.contacts__item {
    @media screen and (max-width: 767px) {
        &:nth-child(2) {
            font-size: 34px;
            margin-bottom: 38px;
        }

        &:nth-child(1) {
            font-size: 26px;
        }
    }

    &:not(:last-child) {
        @media screen and (max-width: 1199px) {
            & {
                margin-bottom: 10px;
            }
        }

        @media screen and (min-width: 1200px) {
            & {
                margin-right: 50px;
            }
        }
    }
}

.contacts__link {
    @extend %vertical-centered;
    @extend %link;

    color: var(--secondary-text-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
        transition: color 250ms var(--cubic-bezier);
    }
}

.contacts__link--accent {
    @media screen and (max-width: 767px) {
        color: var(--accent-color);
    }
}

.contacts__icon {
    display: none;
    fill: currentColor;
    margin-right: 10px;

    @media screen and (min-width: 1200px) {
        & {
            display: block;
        }
    }
}