.nav {
  @extend %vertical-centered;

  @media screen and (max-width: 768px) {
    & {
      justify-content: space-between;
    }
  }
}

.nav__list {
  @extend %list;

  display: block;

  @media screen and (min-width: 768px) {
    & {
      display: flex;
      margin-left: 88px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      margin-left: 93px;
    }
  }
}

.nav__item {
  position: relative;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.nav__link {
  @extend %link;

  display: block;
  line-height: 1.15;

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color 250ms var(--cubic-bezier);
  }

  @media screen and (min-width: 768px) {
    & {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}

.nav__link--current {
  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    &::after {
      position: absolute;
      left: 0;
      bottom: -1px;
      display: block;
      content: '';
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
}