.hero {
  max-width: 1600px;
  padding: 118px 60px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(to right, var(--hero-bg-opacity), var(--hero-bg-opacity)),
    url(../images/bg-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(to right, var(--hero-bg-opacity), var(--hero-bg-opacity)),
        url('../images/bg-hero-mobile@x2.jpg');
    }
  }

  @media screen and (min-width: 768px) {
    & {
      background-image: linear-gradient(to right, var(--hero-bg-opacity), var(--hero-bg-opacity)),
        url(../images/bg-hero-tablet.jpg);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right, var(--hero-bg-opacity), var(--hero-bg-opacity)),
          url('../images/bg-hero-tablet@x2.jpg');
      }
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      background-image: linear-gradient(to right, var(--hero-bg-opacity), var(--hero-bg-opacity)),
        url(../images/bg-hero-desktop.jpg);
      padding: 200px 0;
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right, var(--hero-bg-opacity), var(--hero-bg-opacity)),
          url('../images/bg-hero-desktop@x2.jpg');
      }
    }
  }
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-color);
  @media screen and (min-width: 480px) {
    & {
      font-size: 26px;
      line-height: 1.62;
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
