.team {
  @extend %section;

  background-color: var(--accent-bg-color);
}

.team__title {
  @extend %title;

  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    & {
      margin-bottom: 50px;
    }
  }
}
