:root {
  --primary-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-bg-color: #2f303a;
  --accent-bg-color: #f5f4fa;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --social-net-color: #afb1b8;
  --opacity-adress-color: rgba(255, 255, 255, 0.6);
  --hero-bg-opacity: rgba(47, 48, 58, 0.4);
  --modal-opacity-bg: rgba(0, 0, 0, 0.2);
  --works-descr-bg-color: rgba(47, 48, 58, 0.8);
  --portf-thumb-bg-color: rgba(33, 150, 243, 0.9);
  --footer-icon-bg: rgba(255, 255, 255, 0.1);
  --border-color: #eeeeee;
  --border-color-header: #ececec;
  --border-input-focus: 1px solid #2196f3;
  --border-close-btn: rgba(0, 0, 0, 0.1);
  --border-input: 1px solid rgba(255, 255, 255, 0.3);
  --border-input-modal: 1px solid rgba(33, 33, 33, 0.2);
  --border-social-links: 1px solid rgba(33, 33, 33, 0.2);
  --button-hover: #188ce8;
  --box-shodow-first: rgba(0, 0, 0, 0.12);
  --box-shodow-second: rgba(0, 0, 0, 0.14);
  --box-shodow-third: rgba(0, 0, 0, 0.2);
  --box-shodow-fourth: rgba(0, 0, 0, 0.08);
  --box-shodow-fifth: rgba(0, 0, 0, 0.1);
  --box-shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --placeholder-text: rgba(117, 117, 117, 0.5);
}
