body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    background-color: var(--primary-color);
    color: var(--primary-text-color);
}
